@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: lighter;
}
#image-main {
  background: url(../img/camera.png);
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center; 
}
.main-content {
  color: white;
  margin-right: auto;
  margin-left: auto;
  width: 50%
}
.content-container {
  padding: 50px
}
.content {
  width: 70%;
  margin: auto
}
body {
  font-family: 'Roboto', 'Courier';
  margin: 0;
}
.main-header {
  font-weight: bold
}
.highlighted-text {
  color: orange;
  font-weight: lighter
}
.small-headers {
  font-weight: 400;
  font-weight: bold
}
#stripe {
background: black;
height: 80px;
padding: 20px 100px;
position: fixed;
width: 100%;
box-sizing: border-box;
z-index: 10;
}
.menu {
  float: left;
  margin-top: 5px
}
.links {
  float: right;
  color: white;
  margin-top: 7px;
}
.border-e {
  border: 2px solid orange;
  -webkit-box-shadow: 2px 2px 25px 0px rgba(255,166,0,1);
-moz-box-shadow: 2px 2px 25px 0px rgba(255,166,0,1);
box-shadow: 2px 2px 25px 0px rgba(255,166,0,1);
color: orange;
padding: 5px;
display: inline;
padding: 8px 5px 8px 5px;
}
.photography-title {
  color: orange;
  display: inline;
  margin-left: 5px;
}
.columns {
  float: left;
  box-sizing: border-box;
  width: 33%;
  padding: 20px;
}
.bottom-stripe {
  height: 40px;
  background-color: black;
  padding: 40px;
  font-weight: lighter;
  color: white;
  box-sizing: border-box;
  text-align: center;
}
.custom-button {
  border: 1px solid #df4a1c;
  background: #ff5520;
  border-radius: 5px;
  min-width: 150px;
  min-height: 30px;
  color: white;
  font-size: 16px;
  padding: 10px;
}
.columns .column-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
.links a {
  text-decoration: none;
  color: white;
  margin: 15px;
}
.links a.active {
  color: orange;
}
.links a:hover {
  color: orange;
}
.columns img {
  width: 200px;

}
.service-image {
  width: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  height: 200px;
}
.image-landscape-ratio {
  height: 200px;
}
.home-content .columns {
  position: relative;
  height: 600px;
}
.gallery-item img {
  width: 100%;
  display: block;
}
.gallery-item {
  border: 2px solid #333;
  position: relative;
}
.gallery-title {
  text-align: center;
}
.under-image-title {
  color: white;
  background: black;
  padding-left: 5px;
  padding-bottom: 3px;
  font-weight: bold;
}
.hr-stripe {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 90%;
  height: 1px;
  border: 0;
}
.gallery-item-description {
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  height: calc(100% - 20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.gallery-item-description:hover {
  opacity: 1;
}